{% extends 'base.html' %}
{% block title %}{{ product.title }}{% endblock %}
{% block menu %}<a class="nav-link" aria-current="page"  href="{% url 'webapp:index' %}">На главную</a>{% endblock %}
{% block content %}
    <h1>Review</h1>
        <div class="card" >
            <div class="card-body">
                <h3 class="card-title">{{ review.author }}</h3>
                <h5 class="card-title">{{ review.description }}</h5>
                <p class="card-text">Оценка:  {{ review.grade }}</p>
                <p class="card-text">Created date: {{ review.created_date }}</p>
                <p class="card-text">Updated date: {{ review.updated_date }}</p>
                <h5>Status: {{ task.status.title }}</h5>
                <li><a href="{% url 'webapp:review_update' review.pk %}">Edit</a></li>
                <li><a href="{% url 'webapp:review_delete' review.pk %}">Delete</a></li>
            </div>
        </div>
{% endblock %}
