{% extends "base.html" %}
{% block title %}Delete review{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:review_view' pk=review.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete this review "{{ review }}"?</h1>
    <form method="POST" action="{% url "webapp:review_delete" pk=review.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        </form>
    <a href="{% url "webapp:index" %}" class="text-center" >Cancel</a>

{% endblock %}